<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Selamat Datang
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Selamat Datang</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Selamat Datang"></app-explore-container>
</ion-content>
-->

<ion-content>
  <div class="container">
  <div class="company-details">
    <h2 style="color: rgb(0, 0, 0);">PERPANJANGAN SIM</h2>
    <p style="color: rgb(0, 0, 0);">Pengajuan Perpanjangan SIM Digital</p>
    <!-- Tambahkan informasi perusahaan lainnya sesuai kebutuhan -->
    
  </div>

<div class="menu">
<ion-nav-link>
  <p>
    <ion-button routerLink="/tabs/tab2" expand="block">PERPANJANG SIM</ion-button>
 </p>
</ion-nav-link>
</div>
</div>

</ion-content>